<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyRecords.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyRecords.My.MySettings.RecordsConnectionString" connectionString="Data Source=LAPTOP-11NSK703\SQLEXPRESS;Initial Catalog=Records;User ID=sa;Password=dkk.sql;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <MyRecords.My.MySettings>
            <setting name="BackupFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppendDbBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalSettingsPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogViewPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogZoomValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogZoomOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="callUpgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>D:/MyRecords/Logs</value>
            </setting>
            <setting name="RecordInputFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupAddDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackUpDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackInputFormPos" serializeAs="String">
                <value />
            </setting>
        </MyRecords.My.MySettings>
    </userSettings>
</configuration>